---
layout: default
title: "Aloia CMS: The flat-file CMS for Laravel"
---
<h1 class="h1-responsive mb-6">
    Aloia CMS: The flat-file content management system for Laravel
</h1>

<p>
  Aloia CMS is a flat-file content management system for Laravel. Ship your content quicker, and shape the
  content management system around your needs, not the other way around. You're in charge of your content and Aloia CMS
  does the rest.
</p>

<a href="{% link documentation.md %}"
   class="cta-button inline-block"
>Documentation</a>

<a href="https://github.com/roelofjan-elsinga/aloia-cms" class="ml-4 inline-block text-primary accent-link">
    <span class="fa fa-github"></span> Source code
</a>

<h2 class="mt-16">Most important features</h2>

<p>
  No content management system is complete without a few features that make it work for you and any project you might want to use it with.
</p>

{% include feature_extendable.html %}

{% include feature_familiar_config.html %}

{% include donation.html %}

<h2 class="mt-16">Latest news</h2>

<div class="home">
  <div class="posts">
    {% for post in site.posts limit:2 %}
    {% include news_preview.html %}
    {% endfor %}
  </div>

  <div class="text-center">
    <a href="{% link news/index.html %}" class="cta-button mt-8">Read more news</a>
  </div>

</div>

<div class="cta-banner">
  <h3 class="mt-0 mb-2">Are you wondering who uses Aloia CMS in production?</h3>
  <p>
    Aloia CMS is already used in production for a few websites. The content management system gets better with every website that's developed with it.
  </p>
  <a href="{% link _pages/who-uses-aloia-cms.md %}" class="underline">Find out who uses Aloia CMS in production</a>
</div>
