<a href="{{ '/' | relative_url }}" class="text-primary mb-8 md:mb-10 block hover:no-underline">
    <img src="{{ '/icons/android-icon-36x36.png' | relative_url }}" class="inline-block" />
    <span class="ml-2">{{site.title}}</span>
</a>

<ul class="text-sm pl-0 flex flex-row md:flex-col list-reset">
    <li class="mr-4 md:mr-0">
        <a href="{% link documentation.md %}" class="text-primary">Prologue</a>
    </li>
    <li class="mr-4 md:mr-0">
        <a href="{% link _documentation/requirements.md %}" class="text-primary">Requirements</a>
    </li>
    <li class="mr-4 md:mr-0">
        <a href="{% link _documentation/installation.md %}" class="text-primary">Installation</a>
    </li>
    <li class="mr-4 md:mr-0">
        <a href="{% link _documentation/built-in-content-types.md %}" class="text-primary">Built-in content types</a>
    </li>
    <li class="mr-4 md:mr-0">
        <a href="{% link _documentation/interacting-with-content.md %}" class="text-primary">Interacting with content</a>
    </li>
    <li class="mr-4 md:mr-0">
        <a href="{% link _documentation/creating-content-types.md %}" class="text-primary">Creating content types</a>
    </li>
    <li class="mr-4 md:mr-0">
        <a href="{% link _documentation/using-content-blocks.md %}" class="text-primary">Using content blocks</a>
    </li>
    <li class="mr-4 md:mr-0">
        <a href="{% link _documentation/plugins.md %}" class="text-primary">Available plugins</a>
    </li>
    <li class="mr-4 md:mr-0">
        <a href="{% link _documentation/upgrade-from-0-to-1.md %}" class="text-primary">Upgrade from 0.x to 1.0.0</a>
    </li>
</ul>