<div class="flex mt-8 flex-col md:flex-row w-full">

    <div class="mr-6 flex-1">
        <h3 class="mt-0">Familiar configuration</h3>

        <p>
            Managing content is easy! You can use techniques you might have already used to save your content:
        </p>

        <ul class="list-disc pl-6">
            <li>HTML / Markdown / TXT</li>
            <li>YAML Front matter</li>
        </ul>

        <p>
            You can choose how you want to write your content, letting the CMS do the rest.
        </p>
    </div>

    <div class="flex-1">
        <img src="/images/markdown.png" alt="Markdown config screenshot" class="h-auto sm:max-w-md md:max-w-xs" loading="lazy" />
    </div>

</div>