<div class="flex mt-8 flex-col md:flex-row w-full">

    <div class="mr-6 flex-1">
        <h3 class="mt-0">Simple to extend</h3>

        <p>
            You can easily extend the CMS with your own custom content types.
            All you have to create your custom content type is:
        </p>

        <ol class="list-decimal pl-4">
            <li>Extend the base Model</li>
            <li>Specify a folder to write the data files to</li>
            <li><span class="italic">(Optional)</span> Specify any required fields</li>
        </ol>

        <p>
            Yes, that's really it!
        </p>
    </div>

    <div class="flex-1">
        <img src="/images/models.png" class="h-auto sm:max-w-md md:max-w-xs" />
    </div>

</div>