{% if paginator.total_pages != 1 %}
<div class="flex flex-row mt-8">
  <div>
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="active-pagination-link"
           href="{% link news/index.html %}">{{ site.text.pagination.newer | default: "Newer" }}</a>
      {% else %}
        <a class="active-pagination-link"
           href="{{ paginator.previous_page_path | relative_url }}">{{ site.text.pagination.newer | default: "Older" }}</a>
      {% endif %}
    {% else %}
      <span class="disabled-pagination-link">{{ site.text.pagination.newer | default: "Newer" }}</span>
    {% endif %}
  </div>
  <div class="flex-1 text-center">Page {{ paginator.page }} of {{ paginator.total_pages }}</div>
  <div>
    {% if paginator.next_page %}
      <a class="active-pagination-link" href="{{ paginator.next_page_path | relative_url }}">{{ site.text.pagination.older | default: "Older" }}</a>
    {% else %}
      <span class="disabled-pagination-link">{{ site.text.pagination.older | default: "Older" }}</span>
    {% endif %}
  </div>
</div>
{% endif %}
