html {
  font-size: $base-font-size;
}

abbr {
  border-bottom: $abbr-border-bottom;
  cursor: help;
}

p {
  color: #333;
  line-height: 1.5;
}

.h1-subheader {
  font-size: 0.5em;
  display: block;
  color: $mid-gray;
  font-weight: normal;
  font-style: italic;

  @media #{$breakpoint-xl} {
    font-size: 0.3em;
  }
}

sup {
  position: relative;
  vertical-align: middle;
  top: -0.9ex;
}
