<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{% include head.html %}

<body class="site">

{% if site.google_tag_manager %}
<noscript><iframe src="https://www.googletagmanager.com/gtag/js?id={{ site.google_tag_manager }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_tag_manager }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.google_tag_manager }}');
</script>
{% endif %}

{% if site.facebook_comments %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId={{ site.facebook_appid }}";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endif %}

<div class="site-wrap">

    <div class="post p-responsive wrap" role="main">

        <main class="flex flex-col md:flex-row md:space-x-4">
            <aside class="w-full md:w-1/3 lg:w-1/4 bg-cold-lightest px-8 pt-8 md:pt-16">
                {% include documentation_sidebar.html %}
            </aside>
            <article class="px-8 mt-8 md:mt-16 text-md w-full md:w-1/2">
                {{ content }}

                {% include documentation_footer.html %}
            </article>
        </main>

    </div>
</div>
</body>

</html>


